<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주민등록등본</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .grid-cell {
      width: 100px;
      height: 100px;
    }
    .table-header {
      background-color: #f3f4f6; /* Tailwind light gray for light theme */
    }
    .table-data {
      background-color: #ffffff; /* White for light theme */
    }
    .blue-text {
      color: #60a5fa; /* Tailwind blue color */
    }
    th, td {
      border: 1px solid #444444;
    }
  </style>
</head>
<body class="bg-white text-gray-900 font-sans antialiased">
<div class="container mx-auto px-4 py-8">
  <table class="min-w-full divide-y divide-gray-200 mb-8">
    <thead class="table-header">
    <tr>
      <th scope="row" class="px-6 py-5 text-center text-s font-large text-gray-500 uppercase tracking-wider" colspan="5">주민등록등본</th>
    </tr>
    </thead>
    <tbody class="table-header">
    <!-- data -->
    <tr>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider" colspan="2">
        발급일 :
        <span class="blue-text" th:text="${RESIDENT_REGISTER_INFO.certificateIssue.certificateIssueDate}"></span>
      </th>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider" colspan="3">
        증명서확인번호 :
        <span class="blue-text" th:text="${RESIDENT_REGISTER_INFO.certificateIssue.certificationConfirmationNumber}"></span>
      </th>
    </tr>
    </tbody>
    <tr>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider table-header" colspan="2">
        세대주 성명
      </th>
      <td class="px-6 py-4 text-center whitespace-nowrap blue-text" th:text="${RESIDENT_REGISTER_INFO.householdResidentInfo.name}">
      </td>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider table-header">
        세대구성 사유 및 일자
      </th>
      <td class="px-6 py-4 text-center whitespace-nowrap blue-text" colspan="2" th:text="${RESIDENT_REGISTER_INFO.householdResidentInfo.householdCompositionReasonCode} + ' ' + ${RESIDENT_REGISTER_INFO.householdResidentInfo.householdCompositionDate}">
      </td>
    </tr>
    <thead class="table-header">
    <tr>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider" colspan="3">
        주소
      </th>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider" colspan="2">
        신고일
      </th>
    </tr>
    </thead>
    <tbody class="table-data">
    <div th:each="address, stat : ${RESIDENT_REGISTER_INFO.houseMovementAddressLogList}">
      <tr>
        <td class="px-6 py-4 text-center whitespace-nowrap blue-text" th:if="${stat.first}">
          현주소
        </td>
        <td class="px-6 py-4 text-center whitespace-nowrap blue-text" th:unless="${stat.first}">
          전주소
        </td>
        <td class="px-6 py-4 text-center whitespace-nowrap blue-text" colspan="2" th:text="${address.houseMovementAddress}">
        </td>
        <td class="px-6 py-4 text-center whitespace-nowrap blue-text" colspan="2" th:text="${address.houseMovementReportDate}">
        </td>
      </tr>
    </div>
    </tbody>
    <thead class="table-header">
    <tr>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider">세대주 관계</th>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider">성명</th>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider">주민등록번호</th>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider">신고일</th>
      <th scope="col" class="px-6 py-3 text-center text-s font-medium text-gray-500 uppercase tracking-wider">변동사유</th>
    </tr>
    </thead>
    <tbody class="table-data">
    <div th:each="resident : ${RESIDENT_REGISTER_INFO.householdCompositionResidentList}">
    <tr>
      <td class="px-6 py-4 text-center whitespace-nowrap blue-text" th:text="${resident.householdRelationshipCode}"></td>
      <td class="px-6 py-4 text-center whitespace-nowrap blue-text" th:text="${resident.name}"></td>
      <td class="px-6 py-4 text-center whitespace-nowrap blue-text" th:text="${resident.residentRegistrationNumber}"></td>
      <td class="px-6 py-4 text-center whitespace-nowrap blue-text" th:text="${resident.reportDate}"></td>
      <td class="px-6 py-4 text-center whitespace-nowrap blue-text" th:text="${resident.householdCompositionChangeReasonCode}"></td>
    </tr>
    </div>
    </tbody>
  </table>
</div>
</body>
</html>