<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>메인 페이지</title>
</head>
<body>
<table>
  <tr>
    <th>Student add</th>
    <td><a href="/student/register">Register</a></td>
  </tr>
  <tr>
    <th>Student modify</th>
    <td><a>usage -> /student/{studentId}/modify</a></td>
  </tr>
  <tr>
    <th>Student search</th>
    <td><a>usage -> /student/{studentId}</a></td>
  </tr>
  <tr>
    <th>Logout</th>
    <td><a href="/logout">Logout</a></td>
  </tr>
</table>
</body>
</html>