<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context"

  xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--  <aop:aspectj-autoproxy />-->

  <bean id="doorayMessageSender" class="com.nhnacademy.spring.hw.sender.impl.DoorayMessageSender">
    <constructor-arg ref="doorayHookSender"/>
  </bean>

  <bean id="messageSendService" class="com.nhnacademy.spring.hw.service.MessageSendService">
    <constructor-arg ref="doorayMessageSender"/>
  </bean>

  <bean id="resttemplate" class="org.springframework.web.client.RestTemplate"/>
  <context:property-placeholder location="classpath:api-info.properties" />

  <bean id="doorayHookSender" class="com.nhn.dooray.client.DoorayHookSender">
    <constructor-arg ref="resttemplate"/>
    <constructor-arg type="java.lang.String" value="${hookUrl}"/>
  </bean>

  <bean id="checkExecutionTimeAspect" class="com.nhnacademy.spring.hw.aspect.CheckExecutionTimeAspect" />

  <aop:config>
    <aop:aspect id="executionTimeAspect" ref="checkExecutionTimeAspect">
      <aop:around pointcut="within(com.nhnacademy.spring.hw.sender.impl.DoorayMessageSender) and @annotation(com.nhnacademy.spring.hw.annotation.CheckExecutionTime)" method="doChecking" />
    </aop:aspect>
  </aop:config>
</beans>