<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>학생 정보 등록</title>
</head>
<body>
<form method="post" th:action="@{/student/register}">
    <p th:text="#{id}"></p>: <input type="text" name="name" /><br />
    <p th:text="#{email}"></p>: <input type="text" name="email" /><br />
    <p th:text="#{score}"></p>: <input type="text" name="score" /><br />
    <p th:text="#{comment}"></p>: <textarea name="comment" rows="10" cols="80"></textarea><br />
    <br />
    <input type="submit" th:value="#{submit}">
</form>
</body>
</html>
